
 /* Clientin tyylimuotoilut */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #726262;
    line-height: 1.6;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #2ecc71;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 2.5em;
}

.navbar {
    background-color: #27ae60;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.recipe {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe h2 {
    color: #2ecc71;
    margin-bottom: 10px;
}

.recipe img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.recipe p {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}