.container {
  width: 100%; /* Voit määrittää leveyden tarpeidesi mukaan */
  max-width: 1200px; /* Maksimileveys */
  margin: 0 auto; /* Keskitä container */
  padding: 0 15px; /* Lisää sisätilaa tarpeidesi mukaan */
  box-sizing: border-box; /* Sisällytä reunukset ja täytöt leveyteen */
  background-color: rgba(252, 243, 216, 0.5);
  word-wrap: break-word;
}

.navigation {
    background-color: #ffca17;
    padding: 4px;
    align-items: center;
    height: 35px;
    position:sticky;
    width: 100%;
    top: 0;
    height: 35px;
  }
  

  .navigation-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    background-color: #ffca17;
  }
  
  .navigation-item {

    margin-right: 20px;
  }
  
  .navigation-link {

    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    border-left: solid 5px;
  }
  
  .navigation-link:hover {
    text-decoration: underline;
  }
  .navright {
    margin-left: auto;
  }

  .trigger {
    display: none;
  }
  .home {
    display: none;
  }
  .navigation-list.is-open {
    max-height: 500px; 
  }

  @keyframes slideDown {
    from {
      max-height: 0; /* Alkutilanne: korkeus 0 */
    }
    to {
      max-height: 500px; /* Lopputilanne: maksimikorkeus */
    }
  }

  @media (max-width: 625px) {
    .logout{
      width: 110px;
      margin-bottom: 15px;
      position: relative;
      top: 5px;
      right: 6px;
    }
    .navigation-list{
      display: none;
    }
    .navigation-list.is-open {
      display:flex;
      flex-direction:column;
      padding: 5px;
      margin: -32px -5px;
      width: 100%;
      animation: slideDown 0.7s ease;
      
    }
    
    .navigation.is-open {
      margin-bottom: 210px;
    }

    .navigation-item {
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .navright  {
      margin-left: 10px;
    }
    #home {
      display: none;
    }
    .trigger {
      display: flex;
      background-image: url("../../public/pics/burgermenu.png");
      padding-top: 40px;
      padding-right: 40px;
      background-repeat: no-repeat;
      margin-left: auto;
      border: none;
      bottom: 32px;
      margin-top: -6px;
      position: relative;
      background-color: rgba(255, 0, 0, 0);
    }
    .home {
      display: flex;
      background-image: url("../../public/pics/Homelogo.png");
      margin-top: 2px;
      padding-top: 36px;
      background-repeat: no-repeat;
      list-style-type: none;
    }
  }
  body {
    background-image: url("../../public/pics/background.png");

  }
  #home {
    position: relative;
    top: 5px;
    padding-top: 9px;
    padding-right: 29px;
    padding-left: 10px;
    background-image: url("../../public/pics/Homelogo.png");
    border: none;
  }

  .logout {
    background-color: #ff9900; 
    color:#fff; 
    padding: 10px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-weight: bold;
    margin-left: 15px;
    margin-right:35px;
    margin-top: -5px;
  }
  
  .logout:hover {
    background-color: #ffc107; /* Väri hiiren ollessa päällä */
  }


.pError {
    color :red;
    font-size: 80%;
    margin-top:-30px;
    margin-bottom: -8px;

}
.regInput {
    padding: 5px;
    margin-bottom: 30px;
}
.infoText {
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 10px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: white;
    position: relative;
    cursor: pointer;
  }
  
  .infoText::after {
    content: "Täytyy olla muotoa xxxxxx@xxxx.xx";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .infoText:hover::after {
    opacity: 1;
  }
  .loginError {
    color :red;
    font-size: 80%;
    margin-top:-30px;
    margin-bottom: 13px;
  }