.container-home {
  width: 100%; /* Voit määrittää leveyden tarpeidesi mukaan */
  max-width: 1200px; /* Maksimileveys */
  margin: 0 auto; /* Keskitä container */
  padding: 0 15px; /* Lisää sisätilaa tarpeidesi mukaan */
  box-sizing: border-box; /* Sisällytä reunukset ja täytöt leveyteen */
  background-color: rgba(252, 243, 216, 0.5);
  word-wrap: break-word;
}


/*Navigation*/
.navigation {
    background-color: #ffca17;
    padding: 10px;
    align-items: center;
    height: 35px;
    position:sticky;
    top: 0;
    height: 35px;
  }
  

  .navigation-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    background-color: #ffca17;
  }
  
  .navigation-item {

    margin-right: 20px;
  }
  
  .navigation-link {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    border-left: solid 5px;
    
  }
  
  .navigation-link:hover {
    text-shadow: 2px 2px 5px #888888;
    font-weight: bold;
  }
  .navright {
    margin-left: auto;
  }

  .trigger {
    display: none;
  }
  .home {
    display: none;
  }
  .navigation-list.is-open {
    max-height: 500px; 
  }

  @keyframes slideDown {
    from {
      max-height: 0; /* Alkutilanne: korkeus 0 */
    }
    to {
      max-height: 500px; /* Lopputilanne: maksimikorkeus */
    }
  }

  @media (max-width: 645px) {
    .logout{
      width: 120px;
      margin-bottom: 15px;
      position: relative;
      top: 5px;
      right: 6px;
    }
    .navigation-list{
      display: none;
    }
    .navigation-list.is-open {
      display:flex;
      flex-direction:column;
      padding: 9px;
      margin: -27px -9px;
      width: 100%;
      animation: slideDown 0.7s ease;
      
    }
    
    .navigation.is-open {
      margin-bottom: 210px;
    }

    .navigation-item {
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .navright  {
      margin-left: 10px;
    }
    #home {
      display: none;
    }
    .trigger {
      display: flex;
      background-image: url("../../public/pics/burgermenu.png");
      padding-top: 40px;
      padding-right: 40px;
      background-repeat: no-repeat;
      margin-left: auto;
      border: none;
      bottom: 32px;
      margin-top: -6px;
      position: relative;
      background-color: rgba(255, 0, 0, 0);
    }
    .home {
      display: flex;
      background-image: url("../../public/pics/Homelogo.png");
      margin-top: 2px;
      padding-top: 36px;
      width:40px;
      background-repeat: no-repeat;
      list-style-type: none;
    }
    .home:hover {
      background-image: url("../../public/pics/Homelogohovered.png");
    }
  }
  body {
    background-image: url("../../public/pics/repetbackground.png");
  }

  .active {
    color:#ff9900;
    font-weight: bold;
  }
  #home {
    position: relative;
    top: 5px;
    padding-top: 9px;
    padding-right: 29px;
    padding-left: 10px;
    background-image: url("../../public/pics/Homelogo.png");
    border: none;
  }
  #home:hover {
    background-image: url("../../public/pics/Homelogohovered.png");
  }

  .logout {
    background-color: #ff9900; 
    color:#fff; 
    padding: 10px 15px; 
    border: none;
    border-radius: 20px;
    cursor: pointer; 
    font-weight: bold;
    margin-left: 15px;
    margin-right:35px;
    margin-top: -6px;
  }
  
  .logout:hover {
    box-shadow: 2px 2px 5px #888888;
  }
/*Navigation end*/

.pError {
    color :red;
    font-size: 80%;
    margin-top:-30px;
    margin-bottom: -8px;

}
.regInput {
    padding: 5px;
    margin-bottom: 30px;
}
.infoText {
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 10px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: white;
    position: relative;
    cursor: pointer;
  }
  
  .infoText::after {
    content: "Täytyy olla muotoa xxxxxx@xxxx.xx";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .infoText:hover::after {
    opacity: 1;
  }
  .loginError {
    color :red;
    font-size: 80%;
    margin-top:-30px;
    margin-bottom: 13px;
  }

  .userDeletedSuccess {
    color :green;
    font-size: 80%;
    margin-top:-30px;
    margin-bottom: 13px;
  }

  /*UUSI RESEPTI SIVU JUTTUJA*/
  .component-background {
    background-color: #fcf3d8;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}


.component-background h1 {
  color: #624e08;
  text-align: center;
}

.newrecipe{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffedb2;
  padding:10px;
  border-radius: 10px;
}

 #newrecipesavebtn {
  background-color: #ffc400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 100px;
}

#newrecipesavebtn:hover{
  background-color: #fccc30;
  text-decoration: underline;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: #ffe58e;
  border-radius: 10px;
  padding: 1%;
}

#RuokaKategoria {
  display: flex;
  align-items: center;
}

.recipehalf{
  flex: 0 0 50%;
  box-sizing: border-box;
  width: 100%;
  padding:1%;
}

.ingredientlist {
  background-color: #ffe58e;
  border-radius: 10px;
  padding: 1%;
}
.recipehalf2 div{
  height: 300px;
}

.ingredientlist th {
  font-weight: 400;
}

.recipehalf textarea{
  width:100%;
  resize:none;
}




.recipeGuideContainer {
  padding-top: 10%;
}

@media screen and (max-width: 1200px) {
    .component-background {
        width: 100%;
        padding:0;
    }
    
    
}

@media screen and (max-width: 1134px) {
.recipehalf{
      flex: 0 0 100%; /* Each item takes up 50% of the container width */
      text-align: center;
      align-items: center;
    }
    .recipehalf2 {
      display: flex;
      flex-direction: column;
    }
    .recipehalf2 div{
      height: auto;
    }
    .recipeGuideContainer {
      order: -1; /* Move this div to the top */
      margin-bottom: 20px; /* Add some space between the image and the text area */
      padding-top: 0%;
    }
    .ingredientlist{
      display: flex;
     justify-content: center;
      align-items: center;
    }
    .newrecipe input {
      text-align: center;
    }
    .newrecipe {
      display: flex;
     justify-content: center;
      align-items: center;
    }

}

/*UUSI RESEPTI SIVU JUTUT LOPPU*/



/*RECIPE SEARCH*/

.container-search {
  background-color: #ffedb2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; /* Keskitä container */
  max-width: 1200px;
  padding: 10px;
}

.reciperesults {

}
.searchform {
  background-color: #ffe58e;
  border-radius: 10px;
  padding: 1%;
  width: 80%;
  margin: auto;
}

.searchpage {
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  border-radius: 10px;
}

.search-option{
  margin-left: 10px;
  margin: 20px;
  margin-top: 0px;
}

.search {
  display: flex;
  justify-content: center;
  height: 40px;
}

.searchbutton {
  margin: auto;
  display: block;
  margin-top: 10px;
  width: 100px;
}

.h1-reseptihaku {
    display: flex;
    color: #624e08;
    margin-bottom: 30px;
    justify-content: center;
}

@media screen and (max-width: 1064px) {
  input {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  input {
    width: 100%;
  }
  .searchform {
    display: flex;
    flex-direction: column;
  }
}
/*RECIPE SEARCH END*/